.countries ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
}

.card .infos {
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
}

.card:hover .infos {
  opacity: 1;
}
