@font-face {
  font-family: "JosefinSans-Medium";
  src: url("../assets/fonts/JosefinSans-Medium.ttf");
}

h1 {
  font-family: var(--font-1);
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.navigation li {
  cursor: pointer;
  padding: 5px 10px;
}

.nav-active li {
  border-bottom: 2px solid #59c8e5;
}
